/* page setting */
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: rgb(246, 244, 235);
}

h1{
    text-align: center;
    color: green;
    margin-bottom: 20px;
}

p{
    text-align: center;
    font-style: italic;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

footer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#footer{
    margin-top: 15px;
    margin-left: 10px;
}

/* game setting */
#game-board {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
}

.snake {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* background-color: #00f; */
}

.food {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* background-color: #f00; */
}
